.DS_Store
.vagrant
.arc
*.swp
*.pyc
*.idea
*.nja
/venv/
*.box
.shell_history
*~
/ge/build/
/build/
config.cfg
node/node_modules
node/test_client
node/socket_data.json
/nosetests.xml
/TAGS
build/
pysrc/
/docs/source/routes.rst
docs/source/routes.rst
source/routes.rst
routes.rst
.ropeproject/*
/.ropeproject/*
/callgraph/
/perfdump.db
/.project
/.pydevproject
/setup.cfg
/.noseids
/tags
perfdump.db-journal
dump.rdb
.cache/*
nohup.out
.coverage
/cover/
